.none {
    display: none;
}

.slideshow {
    position: relative;
    width: 30vw;
    /* background-color: red; */
    margin: auto;
    width: 50%;
}

.slide > img {
    width: 20vw;
    height: 40vh;
}

.caption {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
}

.prev, .next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    user-select: none;
    font-weight: bold;
    font-size: 3em;
}
.prev {
    left: 0;

}
.next {
    right: 0;
}

.fade {
    animation-name: fadeIn;
    animation-duration: 0.3s;
  }
  
  @keyframes fadeIn {
    from {
        opacity: .4;
        transform: translateX(-30%);
    } 
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }
