:root {
  --blue: #1d4e89; 
  --light-blue: #002bca;
  --black: #212155;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 5vmin;
  margin-left: 30vmin;
  margin-right: 30vmin;
  text-align: center;
  color: black;
}

@media only screen and (max-width: 600px) {
  .App {
    margin-left: 10vmin;
    margin-right: 10vmin;
  }
}

.navbar {
  padding: 2vmin;
  font-size: 24px;
  display: flex;
}

.logo-container {
  flex-grow: 1;
  align-content: center;
}

.navbar > .links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media only screen and (max-width: 640px) {
  .navbar {
    flex-direction: column;
  }
  .navbar > .links {
    flex-direction: column;
  }
  .logo-container {
    display: flex;
    justify-content: center;
  }
}

.logo {
  font-weight: 700;
  float: left;
  position: relative;
}

.logo::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  transition: height 0.3s;
  background: color-mix(in srgb, blue 50%, transparent);
}

.logo:hover::before {
  top: 2;
  left: 2;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: 400;
}

.navbar a {
  padding-inline: 10px;
}

a:visited {
  color: black;
}

a:hover:not(.logo) {
  color: blue;
}

.jumbotron {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.jumbotron > .introduction {
  align-self: center;
  flex-grow: 1;
  padding: 1vmin;
}

.introduction > h1 {
  margin: 0;
  text-transform: uppercase;
}

.introduction > h2 {
  margin: 0;
  color: #9CA3AF;
}

.footer {
  margin: auto;
}