/* For debugging only */
/* * { outline: 1px solid #e6e3db; } */

:root {
  --color1: silver; 
  --color2: gray; 
  --black: #11113D;
  --white: #FFFFFF;
  /* --white: #F6F6F6; */
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Regular.ttf") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

body {
  background-color: var(--white);
  letter-spacing: 0.2px;
  margin: 0;
  
} 

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--black);
}

a:visited {
  color: var(--black);
}

a:hover:not(.logo) {
  color: var(--color1);
}

/* For navbar */
/* .sticky + div {
    padding-top: 3.4rem;  
} */