.card {
    margin: 1em;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    transition: 0.3s ease-in;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
    transition: opacity 0.3s ease-in;
}

img:hover {
    opacity: 0.3;
}

h1 {
    text-align: center;
    margin: 0;
}

h2 { 
    text-align: center;
    color: var(--color2);
    font-weight: lighter;
    margin: 0;
}