.card {
    position: relative;
}

img {
    display: block;
    width: 20vw;
    height: auto;
    transition: 0.3s ease-in;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

#overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease-in;
}

#overlay h1 {
    text-align: center;
}

.card:hover img {
    opacity: 0.2;
}

.card:hover #overlay {
    opacity: 1;
}

