.project-details {
    height: 100vh;
    margin: 1em;
}

article > h1 {
    text-align: center;
}

article {
    padding-bottom: 3em;
}

p {
    text-align: justify;
    line-height: 1.5em;
    color: var(--color2);
}

.gallery {
    text-align: center;
}

img {
    max-width: 20em;
    height: auto;
    display: inline-block;
    margin-inline: 0.25em;
    transition: transform 0.4s ease;
}

img:hover {
    transform: scale(1.3);
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
  
iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

iframe.secondary {
    width: 80%;
    height: 80%;
    margin: auto;
}

#summary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    color: var(--color2);
    margin-bottom: 2em;
}

#summary div {
    flex: 1 1 0px;
}

#summary .header {
    font-weight: bolder;
}

#summary p:not(.header) {
    color: var(--color1)
}

#summary div p {
    text-align: center;
    margin: 0.1em;
}

h1 {
    font-family: "Now";
    font-size: 3em;
    margin: 0.5em 0;
    text-transform: uppercase;
}


@media only screen and (max-width: 640px) {
    img {
        max-width: 15em;
        height: auto;
        display: block;
        margin-bottom: 0.5em;
        margin-inline: auto;
    }
    #summary div {
        margin: 0.5em;
    }
}


.links {
    display: flex;
    justify-content: center;
}

.margin-top-m {
    margin-top: 2em;
}

.margin-btm-m {
    margin-bottom: 2em;
}

.links a {
    display: inline;
    float: left;
    margin-inline: 5px;
    transition: opacity 0.2s ease-in;
}
.links a:hover {
    opacity: 50%;
}

.links a img {
    display: block;
    width: 3em;
    height: auto;
}

.links a img:hover {
    transform: scale(1);
}

.page-controls {
    display: flex;
    justify-content: space-between;
}