
#socials {
    display: flex;
    justify-content: center;
}

#socials div:not(:last-child) {
    padding-inline-end: 0.5em;
}
#socials a {
    display: inline;
    float: left;
    margin-inline: 5px;
    transition: opacity 0.2s ease-in;
}
#socials a:hover {
    opacity: 50%;
}

#socials a img {
    display: block;
    width: 2em;
    height: auto;
}   