---
import Layout from '@layouts/Layout.astro';
import Profile from '@components/Profile.astro'
import '@styles/index.css';
import Projects from '@components/Projects.astro';
---

<Layout title="Francis Tayag">	
	<Profile />
	<div id="about">
		<h2 class="wg-lighter">About Me</h1>
		<p class="secondary">
			Hi, I'm <b>Francis</b> or just <b>Franz</b> ! I'm a frontend web developer who is passionate about 
			creating memorable user experiences through clean and elegant designs. 
			I mainly use <b>AstroJS</b> and <b>React</b> for developing static websites, and dynamic websites respectively.
		</p>
		<p class="secondary">
			Aside from web development, I also develop cool and fun games over on itch.io!
		</p>
		<!-- <h2 class="wg-lighter secondary">Education</h2> -->
	</div>
	<Projects />
</Layout>