---
import Layout from "@layouts/Layout.astro";
import Profile from "@components/Profile.astro";
import Projects from "@components/Projects.astro";
---

<Layout title="Home">
	<div class="fadeIn">
		<Profile />

		<div>
			<h2 class="wg-lighter txt-left">About Me</h2>
			<p class="secondary">
				Hi, I'm <b>Francis</b> or just <b>Franz</b>! I'm a fresh Computer Science graduate who is eager to pursue a career as a <b>Frontend Web Developer</b> in a growth-oriented company where I can leverage my skills and learn from mentors and teammates.
			</p>
			<p class="secondary">
				Experienced in developing applications using <b>Django</b>, <b>Flutter</b>, and <b>Python</b> in general. Currently studying <b>ReactJS</b>.
			</p>
		</div>

		<Projects />
	</div>
</Layout>
