---
import Layout from '@layouts/Layout.astro';
import ProjectCard from '@components/ProjectCard.astro';

import '@styles/projects.css';
import { getCollection } from 'astro:content';
// const projects = await Astro.glob('@content/projects/**/*.md')
const projectEntries = await getCollection('projects');


---

<Layout title="Projects">
    <div class="page">
        <h1 id="title">Projects</h1>
        <div class="container">
            {projectEntries.map(entry => 
                <ProjectCard 
                    thumbnail="../src/images/placeholder-1.png" 
                    title={entry.data.title}
                    subtitle={entry.data.subtitle}
                    description={entry.data.description}
                    id={entry.slug}
                />
                // <project.Content />
            )}
        </div>
        
    </div>
</Layout>