---
import Layout from '@layouts/Layout.astro';
import ProjectCard from '@components/ProjectCard.astro';

import '@styles/projects.css';
const projects = await Astro.glob('@content/projects/**/*.md')

---

<Layout title="Projects">
    <div class="projects">
        <div class="container">
            {projects.map(project => 
                <ProjectCard 
                    thumbnail="../src/images/placeholder-1.png" 
                    title={project.frontmatter.title}
                    description={project.frontmatter.description}
                />
                // <project.Content />
            )}
        </div>
        
    </div>
</Layout>