<style>
    @import "@styles/footer.css";
</style>

<div id="footer">
    <div class="txt-center margin-v-m">
        <p class="tertiary">&copy; Francis Michael Tayag. Landing page image designed by Freepik.</p>
    </div>
</div>
