---
import '@styles/footer.css';
---

<div class="footer">
    <div>
        <p>&copy; Francis Tayag</p>
    </div>
    <div>
        <p>
            <a href="https://github.com/zyenapz" target="_">GitHub</a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/francistayag/" target="_">LinkedIn</a>

        </p>
    </div>
</div>