<style>
    @import '@styles/navbar.css';
</style>

<script>
    let isToggled = false;
    let checkbox = document.getElementById("checkbox");
    let hamburger = document.getElementById("hamburger");
    let links = document.getElementById("links");
    hamburger.classList.add(isToggled ? 'toggled' : 'untoggled');
    isToggled ? () => links.classList.remove("hide") : links.classList.add("hide");

    checkbox.addEventListener('click', () => {
        isToggled = isToggled ? false : true; 

        hamburger.classList.remove('toggled');
        hamburger.classList.remove('untoggled');
        hamburger.classList.add(isToggled ? 'toggled' : 'untoggled');
        isToggled ? links.classList.remove("hide") : links.classList.add("hide");
        console.log(isToggled);
    })

    window.onscroll = function() {myFunction()};

    // Sticky navbar
    let navbar = document.getElementById("navbar");
    let top = navbar.offsetTop;

    function myFunction() {
        if (window.scrollY >= top) {
            navbar.classList.add("sticky");
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>

<div class="navbar" id="navbar">
    <div class="logo-container">
        <a href="/">Francis Tayag</a>
    </div>
    
    <div id="hamburger">
        <input id="checkbox" type="checkbox" />
    </div>
    
    <div id="links">
        <a href="/projects">Projects</href>
    </div>

</div>