<style>
    @import "@styles/navbar.css";
</style>

<script>
    let isToggled = false;
    const hamburger = document.getElementById("hamburger");
    const responsive = document.getElementById("responsive");

    hamburger.addEventListener("click", () => {
        isToggled = isToggled ? false : true;
        isToggled
            ? responsive.classList.remove("hide")
            : responsive.classList.add("hide");

        isToggled 
            ? hamburger.classList.add("open") 
            : hamburger.classList.remove("open");
    })

</script>

<div class="navbar" id="navbar">
    <div id="normal">
        <div id="logo">
            <a href="/">Francis Tayag</a>
        </div>

        <div id="links">
            <!-- <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/projects">Projects</a> -->
            <a id="contact" href="/contact">Contact</a>
        </div>

        <div class="hamburger" id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="container">
        <div id="responsive" class="hide">
            <!-- <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/projects">Projects</a> -->
            <a href="/contact">Contact</a>
        </div>
    </div>
</div>
