---
let isToggled = false;
// let linksClass = "links";
---

<style>
    @import '../styles/navbar.css';
</style>

<div class="navbar sticky">
    <div class="logo-container">
        <a href="/" class="logo">Francis Tayag</a>
    </div>

    <div class="links">
        <a href="/projects">Projects</href>
    </div>
    
    <!-- <div class={"hamburger " + (isToggled ? 'toggled' : 'untoggled')}>
        <input type="checkbox" onclick={() => setToggle(isToggled ? false : true)} />
    </div> -->


</div>