---
import { Image } from 'astro:assets';
import asideImage from '@images/placeholder-1.png';
import social1 from '@images/linkedin.png';
import social2 from '@images/behance.png';

import * as myProfile from '@content/profile/text.md';
---

<style>
    @import '@styles/profile.css';
</style>

<div class="page">
    <div class="container">
        <div class="introduction">
            <p>Hi! I'm Francis,</p>
            <p>Frontend Web Developer</p>
            <p>I design and develop simple but elegant websites. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="links">
                <a class="primary" href="/">Contact</a>
                <a class="tertiary" href="/">About Me</a>
            </div>
            <div class="socials">
                <div>
                    <a href="/">
                        <Image src={social1} alt="Social" />
                    </a>
                </div>
                <div>
                    <a href="/">
                        <Image src={social2} alt="Social" />
                    </a>
                </div>
            </div>

        </div>
    
        <div class="picture-container">
            <Image src={asideImage} alt="Aside" />
        </div>
    </div>
    
</div>
