---
import { Image } from 'astro:assets';
import asideImage from '../images/placeholder-1.png';
---

<style>
    @import '../styles/profile.css';
</style>

<div class="profile">
    <div class="introduction">
        <h1>Hi, I'm Francis.</h1>
        <p>I'm a full-stack web developer, pixel artist, and writer.</p>
        <div class="links">
            <a href="/">My Projects</a>
            <a href="/">About Me</a>
        </div>
    </div>

    <div class="picture-container">
        <Image src={asideImage} alt="Aside" />
    </div>
</div>
