---
import { Image } from 'astro:assets';
import asideImage from '@images/placeholder-1.png';

import * as myProfile from '@content/profile/text.md';
---

<style>
    @import '@styles/profile.css';
</style>

<div class="profile">
    <div class="introduction">
        <h1>{myProfile.frontmatter.title}</h1>
        <p>{myProfile.frontmatter.subtitle}</p>
        <div class="links">
            <a href="/">My Projects</a>
            <a href="/">About Me</a>
        </div>
    </div>

    <div class="picture-container">
        <Image src={asideImage} alt="Aside" />
    </div>
</div>
