---
import { Image } from "astro:assets";
import profilePicture from "@images/header.png";
import Socials from "./Socials.astro";
---

<style>
    @import "@styles/profile.css";
</style>

<div id="profile">
    <Image src={profilePicture} alt="Profile Picture" />
    <div class="txt-center margin-v-s">
        <h1 class="margin-none larger">Francis Tayag</h1>
        <h2 class="subtitle secondary">
            Frontend Web Developer
        </h2>
    </div>
    <Socials />
</div>
