---
import { Image } from 'astro:assets';
import profilePicture from '@images/placeholder-1.png';
import Socials from './Socials.astro';

---

<style>
    @import '@styles/profile.css';
</style>

<div id="profile">
    <Image src={profilePicture} alt="Profile Picture" />
    <div id="basic-info">
        <h1 class="title line larger">Francis Tayag</h1>
        <h2 class="subtitle secondary">Frontend Developer & Illustrator</h2>
    </div>
    <Socials />
</div>
