---
import { Image } from 'astro:assets';
import social1 from '@images/linkedin.png';
import social2 from '@images/behance.png';
import social3 from '@images/github.png';
---

<style>
    @import "@styles/socials.css";
</style>

<div id="socials">
    <!-- <div>Follow Me: </div> -->
    <a href="/">
        <Image src={social1} alt="Social" />
    </a>
    <a href="/">
        <Image src={social2} alt="Social" />
    </a>
    <a href="/">
        <Image src={social3} alt="Social" />
    </a>
</div>