---
import { Image } from 'astro:assets';
import linkedIn from '@images/linkedin.png';
import social2 from '@images/behance.png';
import github from '@images/github.png';
---

<style>
    @import "@styles/socials.css";
</style>

<div id="socials">
    <!-- <div>Follow Me: </div> -->
    <a href="https://www.linkedin.com/in/francistayag/" target="_blank" rel="noopener noreferrer">
        <Image src={linkedIn} alt="Linked In" />
    </a>
    <!-- <a href="/">
        <Image src={social2} alt="Social" />
    </a> -->
    <a href="https://github.com/zyenapz" target="_blank" rel="noopener noreferrer">
        <Image src={github} alt="GitHub" />
    </a>
</div>