---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import '@styles/project_details.css';

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');

  return projectEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }))

}

const { entry } = Astro.props;
const { Content } = await entry.render();

---

<Layout>
  <div class="project-details">
    <!-- <Slideshow images={project.images} /> -->

    <article>
      <h1>{entry.data.title}</h1>
      <!-- <button onClick={handlePrevious}>Previous</button>
      <button onClick={handleNext}>Next</button> -->
      <Content />
    </article>
    
  </div>
  </div>
</Layout>
