/* For debugging only */
/* * { outline: 1px solid #e6e3db; }  */

:root {
  --color1: #CA2422; 
  --color2: #C83216; 
  --black: #11113D;
  /* --white: #F9F9F9; */
  --white: #FFFFFF;
}

body {
  background-color: var(--white);
  letter-spacing: 0.2px;
} 

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 20vmin;
  margin-right: 20vmin;
}

.home {
}

@media only screen and (max-width: 640px) {
  .home {
    margin: 0;
  }
}

.navbar {
  font-size: 20px;
  display: flex;
  margin-top: 3vmin;
}

.logo-container {
  flex-grow: 1;
  align-content: center;
}

.navbar > .links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media only screen and (max-width: 640px) {
  .navbar {
    flex-direction: column;
  }
  .navbar > .links {
    flex-direction: column;
  }
  .logo-container {
    display: flex;
    justify-content: center;
  }
}

.logo {
  font-weight: 650;
  float: left;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  transition: height 0.3s;
  background: color-mix(in srgb, var(--color1) 50%, transparent);
}

.logo:hover::before {
  top: 2;
  left: 2;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: 500;
}

.navbar > .links a {
  padding-inline: 40px;
}

a:visited {
  color: var(--black);
}

a:hover:not(.logo) {
  color: var(--color1);
}

.profile {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* border: 5px solid red; */
}

.profile > .introduction {
  /* align-self: auto; */
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  
}

.picture {
  align-self: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.picture img {
  width: 25em;
  /* border-radius: 50%; */
}

.introduction > h1 {
  font-size: 48px;
  margin: auto 0;
  /* border: 1px solid black; */
  text-align: left;
}

.introduction > .blurb {
  color: #9CA3AF;
  font-size: 28px;
  margin: 0;
  /* border: 1px solid black; */
  text-align: left;
}

.socials {
  margin-top: 2vmax;
  text-align: left;
}

.socials a:nth-child(1) {
  padding-inline: 0;
  padding-right: 5px;
}

.socials a {
  padding-inline: 10px;
  font-size: 18px;
}


@media only screen and (max-width: 640px) {
  .profile {
    flex-direction: column;
    margin: 0;
  }
  .introduction {
    order: 2;
    align-items: center;
    margin: 0;
  }
  .introduction > h1 {
    font-size: 28px;
    text-align: center;
    margin: 0;
  }
  .introduction > .blurb {
    font-size: 20px;
    text-align: center;
  }
  .picture {
    display: flex;
    flex: 0;
    align-self: center;
    justify-content: center;
    order: 1;
  }
  .picture img {
    margin-top: 10vh;
    width: 60vw;
  }
  .socials {
    align-content: center;
  }
  .socials > a {
    text-align: center;
    font-size: 18px;
    padding-inline: 5px;
  }
}

.footer {
  display: flex;
}

.footer div:nth-child(1) {
  flex-grow: 1;
  text-align: left;
}

.footer div:nth-child(2) {
  display: flex;
  flex-grow: 1;
  justify-content: right;
}

.footer div:nth-child(2) p {
  padding-inline: 10px;
}

.projects-list {
  height: 100vh;
  /* background-color: var(--color1); */
}

.projects-list > h1 {
  text-align: left;
}

@media only screen and (max-width: 640px) {
  .projects-list {
    text-align: center;
  }
}