/* For debugging only */
/* * { outline: 1px solid #e6e3db; }  */

:root {
  --color1: #CA2422; 
  --color2: #C83216; 
  --black: #11113D;
  /* --white: #F9F9F9; */
  --white: #FFFFFF;
}

body {
  background-color: var(--white);
  letter-spacing: 0.2px;
} 

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10vmin;
  margin-right: 10vmin;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:visited {
  color: var(--black);
}

a:hover:not(.logo) {
  color: var(--color1);
}