/* For debugging only */
/* * { outline: 1px solid #e6e3db; }  */

:root {
  --color1: #CA2422; 
  --color2: #C83216; 
  --black: #11113D;
  /* --white: #F9F9F9; */
  --white: #FFFFFF;
}

body {
  background-color: var(--white);
  letter-spacing: 0.2px;
} 

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10vmin;
  margin-right: 10vmin;
}

.navbar {
  font-size: 1.4rem;
  display: flex;
  margin-top: 3vmin;
  justify-content: space-between;
}

.navbar > div {
  margin: 0 5vmin;
}

.logo-container {
  align-content: center;
}

.navbar .links {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 640px) {
  .navbar {
    flex-direction: column;
  }
  .navbar > .links {
    flex-direction: column;
  }
  .logo-container {
    display: flex;
    justify-content: center;
  }
}

.logo {
  font-weight: 650;
  float: left;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  transition: height 0.3s;
  background: color-mix(in srgb, var(--color1) 50%, transparent);
}

.logo:hover::before {
  top: 2;
  left: 2;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: 500;
}

.navbar > .links a {
  padding-inline: 40px;
}

a:visited {
  color: var(--black);
}

a:hover:not(.logo) {
  color: var(--color1);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  /* border: 5px solid red; */
}

.profile .item1 {
  background-color: blue;
}

.profile > .introduction {
  /* align-self: auto; */
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.picture {
  width: 30rem; 
}

.picture > img {
  max-width: 100%;
  /* border-radius: 50%; */
}

.introduction > h1 {
  font-size: 3rem;
  display: inline;
  /* border: 1px solid black; */
  text-align: left;
  margin: 0;
}

.introduction > .blurb {
  color: #9CA3AF;
  font-size: 2rem;
  /* border: 1px solid black; */
  text-align: left;
  margin: 0;
}

.socials {
  margin-top: 2vmax;
  text-align: left;
}

.socials a:nth-child(1) {
  padding-inline: 0;
  padding-right: 5px;
}

.socials a {
  padding-inline: 10px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 640px) {
  .profile {
    flex-direction: column;
    margin: 0;
  }
  .introduction {
    order: 2;
    align-items: center;
    margin: 0;
  }
  .introduction > h1 {
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
  }
  .introduction > .blurb {
    font-size: 1.1rem;
    text-align: center;
  }
  .picture {
    width: 10rem;
    order: 1;
  }
  .picture img {
    margin-top: 10vh;
    width: 60vw;
  }
  .socials {
    align-content: center;
  }
  .socials > a {
    text-align: center;
    font-size: 0.9rem;
    padding-inline: 5px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer div:nth-child(2) > p {
  display: inline-block;
  padding-inline: 1rem;
}

.projects-list {
  height: 100vh;
  /* background-color: var(--color1); */
}

.projects-list > h1 {
  text-align: left;
}

@media only screen and (max-width: 640px) {
  .projects-list {
    text-align: center;
  }
}