.hamburger {
    display: none;
    max-width: 32px;
    max-height: 32px;
}

.visible {
    background-color: green;
}

.hidden {
    background-color: red;
}

input[type=checkbox] {
    opacity: 0;
    cursor: pointer;
    border: 1px solid black;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0;
}

@media only screen and (max-width: 640px) {
    .hamburger {
        display: flex;
        align-self: center;
    }
}